extends main

block head
    link(href="index.css" rel="stylesheet")

block content
    div(class="container")
        h1(class="my-4 text-center") Messiah University RA Log Generator
        div(class="d-flex flex-column align-items-center top-container")
            p This website generates your 
            ul(class="emoji-list")
                li(data-bullet="📄") IC log
                li(data-bullet="📁") Floor Directory 
                li(data-bullet="🖼️") Named photos of your residents 
            p from your Student Care Community page.
        form(method="post" class="d-flex flex-column align-items-center mb-4")
            div(class="mb-3")
                label(for="username" class="form-label") Username
                input(
                    type="text" 
                    id="username" 
                    name="username" 
                    required 
                    value=(username || '')
                    class="form-control")
            div(class="mb-3")
                label(for="password" class="form-lable") Password
                input(
                    type="password"
                    id="password"
                    name="password"
                    required
                    class="form-control")
            input(type="submit" class="btn btn-primary mt-2" value="Generate")
        div(id="loading" class="text-center text-primary")
        div(id="error" class="text-center text-danger")
        div(id="success" class="text-center text-success") 
    script(src="index.js")
